.journal-container {
    max-width: 600px;
    margin: auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.exercise-journal-data {
    margin-bottom: 10px;
    padding-top: 20px;
}

.date-range {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    background: #e0e0e0;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 3px;
}

.button-small {
    padding: 5px 10px;
    font-size: 0.8rem;
}