body, html, div, h1, h2, h3, p, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: Arial, sans-serif;
  color: #333; 
}

.App {
  text-align: center;
  max-width: 650px;
  margin: auto;
  padding: 20px;
}

.appTitle h1 {
  color: #F54996;
  font-size: 36px;
  margin-bottom: 20px;
}

.appTitle {
  margin-bottom: 20px; /* Adjust this value to give more space if needed */
  text-align: center;
}

form {
  margin-bottom: 20px;
}


button.navigationButton {
  background-color: #F54996; 
  color: white; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}

button.navigationButton:hover {
  background-color: #ff66b2;
}

/* Style the success message */
p.successMessage {
  color: green;
  margin-bottom: 20px;
}

.componentContainer {
  padding: 30px;
  background-color: #f0f0f0; 
  border-radius: 5px; 
}

.btn-primary {
  background-color: #F54996 !important;
  border-color: #F54996 !important;
}

.btn-primary:hover {
  background-color: #f03087 !important; 
  border-color: #F54996 !important; 
}

.btn-success {
  background-color: #F54996 !important;
  border-color: #F54996 !important;
}

.btn-success:hover {
  background-color: #f03087 !important;  
  border-color: #F54996 !important; 
}

input#duration {
  width: 20%; 
  margin: auto; 
}

.form-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: lightgrey;
  position: relative;
  bottom: 0;
  width: 100%;
}

.navbar {
  background-color: #F54996;
}

.navbar-nav {
  margin: 0 auto !important;
}

.custom-nav-link {
  margin-right: 40px; /* Adjust this value as needed */
}

.signup {
  margin: 20px;
}